#page-wrap {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0px;
}

.blue {
    /*color: rgba(246, 20, 137);*/
    color: rgb(0, 131, 238);
    left: 10px;
}

.gray {
    color: gray;
}

.white {
    color: white
}

.ash_black_txt {
    color: rgb(27, 27, 27);
}

.light_gray_txt {
    color: rgb(216, 216, 216); 
}

.ash_black_bg {
    background: rgb(27, 27, 27);
}

.light_gray_bg {
    background: rgb(216, 216, 216); 
}

header {
    position: sticky;
    top: 0;
    margin-left: -150px;
    margin-right: -150px; 
}

#navBar {
    padding: 20px 10px;
}

#navBar-left {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    padding: 0px 17px;
    font-size: 30px;

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

#navBar-left:hover {
    color: white
}

#switchDiv {
    position:absolute;
    left: 59%;
    top: 38%;
}

#switchStatus {
    font-size: 10px;
    position: fixed;
    top: 50px;
    left: 55.7%;
}

/* toggle in label designing */
.toggle {
    position : absolute ;
    display : inline-block;
    width : 42px;
    height : 21px;
    left: 65%;
    background-color: gray;
    border-radius: 30px;
    border: 2px solid gray;
}
        
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: white;
    top: 1px; 
    left: 1px;
    transition:  all 0.5s;
}
        
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
        
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 21.5px; 
}
        
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(0, 131, 238);
    border-color: rgb(0, 131, 238);
}
        
/* Checkbox vanished */
.checkbox { 
    display : none;
}

#navBar-right {
    float: right;
    margin-top: 10px;
}

#navBar-right a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    padding: 0px 25px;

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

#navAbout {
    left: 20px;
    position: relative;
}

#navBar-right a:hover {
    color: rgb(0, 131, 238);
}


#navSkills {
    margin-left: -2%;
}

#phonePic {
    position: relative;
    height: 16px;
    width: 16px;
    left: 66.5%;
    top: 3px;
}

#aboutLogo {
    position: relative;
    height: 20px;
    width: 20px;
    left: 63px;
    top: 4px;
}

#aboutDiv {
    margin-left: 15%;
    margin-top: 15%;
    padding-bottom: 300px;

    animation-name: introFade;
    animation-duration: 2.5s;
    animation-timing-function: ease;
}

@keyframes introFade {
    from {
        opacity: 0;
    }
    to {
        opactiy: 1;
    }
}

#profilePic {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.logoBorder {
    border: 1px solid black;
}

#aboutHeading {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 65px;
    display: inline-block;
    vertical-align: 25px;
    margin-left: 20px;
}

#aboutPara {
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin-left: 125px;
}









